<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Articles ANY>
<!ATTLIST Articles id ID #REQUIRED>
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT home3 ANY>
<!ATTLIST home3 id ID #REQUIRED>
<!ELEMENT Player ANY>
<!ATTLIST Player id ID #REQUIRED>
<!ELEMENT Players ANY>
<!ATTLIST Players id ID #REQUIRED>
<!ELEMENT Subpage ANY>
<!ATTLIST Subpage id ID #REQUIRED>
<!ELEMENT Upcoming ANY>
<!ATTLIST Upcoming id ID #REQUIRED>
<!ELEMENT UpcomingItem ANY>
<!ATTLIST UpcomingItem id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1080" key="0d98db8e-3d23-4856-a567-0b5ff7e072bd" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-02-04T22:15:19" updateDate="2016-05-26T22:36:16" nodeName="Heim" urlName="heim" path="-1,1080" isDoc="" nodeType="1094" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1056" nodeTypeAlias="Home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteLogo>1137</siteLogo>
    <menuImage>1141</menuImage>
    <video>1082</video>
    <videoPoster>1083</videoPoster>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full width macro",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "controls": [
                {
                  "value": {
                    "macroAlias": "videoheader",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  }
                }
              ]
            }
          ],
          "id": "0a79b670-6fcf-8587-7192-bd78b8ce5972"
        },
        {
          "name": "Full width macro",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "controls": [
                {
                  "value": {
                    "macroAlias": "FPTrioBox",
                    "macroParamsDictionary": {
                      "abroadSite": "1159",
                      "blogList": "1116",
                      "photoFolder": "1125,1127,1132,1135,1130",
                      "playerList": "1102"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "fp-elements"
          },
          "id": "e31aa9c5-2be9-146e-18f4-a8128502e9e7"
        },
        {
          "name": "Full width macro",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "controls": [
                {
                  "value": {
                    "macroAlias": "Instabraco",
                    "macroParamsDictionary": {
                      "instagramHashtag": "rugbyreykjavik",
                      "itemsToShow": "15"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  }
                }
              ]
            }
          ],
          "id": "cbb3d7f5-5f1c-db3f-3701-cb2f27c0a7d1"
        }
      ]
    }
  ]
}]]></content>
    <Subpage id="1101" key="58210adc-3b9e-4da1-920e-b22a39761cfc" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2016-02-15T22:53:16" updateDate="2016-04-15T21:39:06" nodeName="Rugbyfélag Reykjavíkur" urlName="rugbyfélag-reykjavíkur" path="-1,1080,1101" isDoc="" nodeType="1096" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1095" nodeTypeAlias="Subpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <customIconClass><![CDATA[rugby]]></customIconClass>
      <menuImage>1143</menuImage>
      <Players id="1102" key="cec8919f-bdad-48bc-ae3d-9ec96d16b6c6" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2016-02-15T22:53:35" updateDate="2016-02-15T22:53:35" nodeName="Leikmenn" urlName="leikmenn" path="-1,1080,1101,1102" isDoc="" nodeType="1099" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1098" nodeTypeAlias="Players">
        <Player id="1120" key="4009ae4f-6f66-4324-8f5e-ce4057c17276" parentID="1102" level="4" creatorID="0" sortOrder="0" createDate="2016-02-16T21:27:36" updateDate="2016-02-18T21:56:52" nodeName="Pétur Helgi" urlName="pétur-helgi" path="-1,1080,1101,1102,1120" isDoc="" nodeType="1100" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="Player">
          <playingSince><![CDATA[2014]]></playingSince>
          <nationality><![CDATA[Icelandic]]></nationality>
          <position><![CDATA[Winger]]></position>
          <profilePicture>1127</profilePicture>
        </Player>
      </Players>
      <Upcoming id="1159" key="cdb19f77-f9d2-4ab6-adeb-f7fc6f91a463" parentID="1101" level="3" creatorID="0" sortOrder="2" createDate="2016-05-25T23:02:38" updateDate="2016-05-25T23:02:51" nodeName="Hvað er á döfinni?" urlName="hvað-er-á-doefinni" path="-1,1080,1101,1159" isDoc="" nodeType="1157" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="Upcoming">
        <umbracoNaviHide>0</umbracoNaviHide>
        <UpcomingItem id="1160" key="3c9697df-b4ab-4c39-8196-7982d07673cf" parentID="1159" level="4" creatorID="0" sortOrder="0" createDate="2016-05-25T23:05:08" updateDate="2016-05-25T23:12:21" nodeName="Scandinavia 7's" urlName="scandinavia-7s" path="-1,1080,1101,1159,1160" isDoc="" nodeType="1158" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="UpcomingItem">
          <umbracoNaviHide>0</umbracoNaviHide>
          <dates><![CDATA[6. Ágúst - 8. Ágúst]]></dates>
          <what><![CDATA[Scandinavian 7s]]></what>
          <summary><![CDATA[7's Mót í Kaupmannahöfn helgina eftir verslunarmannahelgi. 40% rugby 60% skemmtun. 
Vonandi náum við að senda 3 lið þetta árið 2 karla lið og eitt kvennalið.]]></summary>
          <where><![CDATA[Kaupmannahöfn, DK]]></where>
          <photo>1127</photo>
          <who><![CDATA[Everyone who's interested (Boys and girls)]]></who>
        </UpcomingItem>
      </Upcoming>
    </Subpage>
    <Subpage id="1116" key="2a7a29b7-2709-44e9-b6cd-22343c41fc4c" parentID="1080" level="2" creatorID="0" sortOrder="1" createDate="2016-02-16T21:22:08" updateDate="2016-04-15T21:40:08" nodeName="Blogs" urlName="blogs" path="-1,1080,1116" isDoc="" nodeType="1096" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1095" nodeTypeAlias="Subpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <customIconClass><![CDATA[doc]]></customIconClass>
      <menuImage>1147</menuImage>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
      <Articles id="1117" key="c1941c36-2e5f-4cca-88ea-82ab074f6143" parentID="1116" level="3" creatorID="0" sortOrder="0" createDate="2016-02-16T21:22:27" updateDate="2016-02-16T21:22:27" nodeName="Þjálfarahornið" urlName="þjálfarahornið" path="-1,1080,1116,1117" isDoc="" nodeType="1097" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="Articles">
        <Article id="1122" key="8c83b0a8-e2d8-4f0d-9266-10e10c8c956a" parentID="1117" level="4" creatorID="0" sortOrder="0" createDate="2016-02-16T21:36:10" updateDate="2016-02-16T21:37:32" nodeName="Beep test" urlName="beep-test" path="-1,1080,1116,1117,1122" isDoc="" nodeType="1121" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="Article">
          <photo>1108</photo>
          <text><![CDATA[<p>"The multi stage fitness test will start in 5 seconds". Tomorrow at 22:00 we'll be doing a "Beep test" to get an objective measurement of our players endurance. We will then do the test once or twice more before the season starts.<br />WHY: It's a great tool that players can use to set goals as well as giving information about where the team stands when it comes to fitness. Every sports team that aspires to get better does the beep/yo yo/2.4 km etc endurance tests.<br />I encourage everyone to come down tomorrow to participate and for those that want to play with the national team it's MANDATORY</p>]]></text>
          <summary><![CDATA["The multi stage fitness test will start in 5 seconds". Tomorrow at 22:00 we'll be doing a "Beep test" to get an objective measurement of our players endurance. We will then do the test once or twice more before the season starts.]]></summary>
        </Article>
      </Articles>
      <Articles id="1118" key="b93c9ff1-9f51-4e83-8e80-3326f308b353" parentID="1116" level="3" creatorID="0" sortOrder="1" createDate="2016-02-16T21:22:56" updateDate="2016-04-16T12:06:52" nodeName="Við erum best" urlName="við-erum-best" path="-1,1080,1116,1118" isDoc="" nodeType="1097" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1153" nodeTypeAlias="Articles">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Article id="1123" key="1a28d02f-3d25-4ecb-8827-3db5122b2995" parentID="1118" level="4" creatorID="0" sortOrder="0" createDate="2016-02-16T21:38:13" updateDate="2016-02-18T22:03:43" nodeName="Sumar leikir" urlName="sumar-leikir" path="-1,1080,1116,1118,1123" isDoc="" nodeType="1121" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="Article">
          <photo>1113</photo>
          <text><![CDATA[<p>Við munum spila Rugby í sumar :OVið munum spila Rugby í sumar :OVið munum spila Rugby í sumar :O</p>
<p>Við munum spila Rugby í sumar :O</p>
<p>Við munum spila Rugby í sumar :O</p>
<p>Við munum spila Rugby í sumar :O</p>
<p> </p>
<p> </p>
<p>Við munum spila Rugby í sumar :O</p>
<p>Við munum spila Rugby í sumar :OVið munum spila Rugby í sumar :OVið munum spila Rugby í sumar :O</p>]]></text>
          <summary><![CDATA[Við munum spila Rugby í sumar :O]]></summary>
        </Article>
        <Article id="1156" key="fb605115-b0f0-4709-aa67-25877ebd0d8e" parentID="1118" level="4" creatorID="0" sortOrder="1" createDate="2016-05-25T22:52:47" updateDate="2016-05-25T22:52:47" nodeName="Fyrsta æfing sumarsins" urlName="fyrsta-aefing-sumarsins" path="-1,1080,1116,1118,1156" isDoc="" nodeType="1121" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="0" nodeTypeAlias="Article">
          <umbracoNaviHide>0</umbracoNaviHide>
          <photo>1155</photo>
          <text><![CDATA[<p><span>Frábær fyrsta æfing sumarsins er yfirstaðin. Það mættu rétt tæplega 50 manns á æfingu og nærri því jafnt hlutfall kynja. Takk fyrir eftirminnilega byrjun á leiktíðinni og sjáumst á þriðjudaginn kl: 21:30 á gervigrasinu hjá Val!</span></p>
<p><span>--------------------</span></p>
<p><span>The first practice of the year was fantastic. We had about 50 people show up and many new faces trying out for the first time. Thank you for a memorable start to the season and see you all next tuesday at 21:30 on the astroturf at Valur football club!</span></p>]]></text>
          <summary><![CDATA[Frábær fyrsta æfing sumarsins er yfirstaðin. Það mættu rétt tæplega 50 manns á æfingu og nærri því jafnt hlutfall kynja. Takk fyrir eftirminnilega byrjun á leiktíðinni og sjáumst á þriðjudaginn kl: 21:30 á gervigrasinu hjá Val!]]></summary>
        </Article>
      </Articles>
    </Subpage>
    <Subpage id="1139" key="042b343b-e1c7-48f6-a0e1-4e41ac5b2f0c" parentID="1080" level="2" creatorID="0" sortOrder="2" createDate="2016-02-29T22:58:45" updateDate="2016-04-15T21:45:57" nodeName="Um Rugby" urlName="um-rugby" path="-1,1080,1139" isDoc="" nodeType="1096" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1095" nodeTypeAlias="Subpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <customIconClass><![CDATA[player]]></customIconClass>
      <menuImage>1148</menuImage>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </Subpage>
    <Subpage id="1140" key="4d89733c-a35b-407e-b4a7-5c314e1d3e7e" parentID="1080" level="2" creatorID="0" sortOrder="3" createDate="2016-02-29T22:59:19" updateDate="2016-04-15T21:52:42" nodeName="Keppnir" urlName="keppnir" path="-1,1080,1140" isDoc="" nodeType="1096" creatorName="Gísli Freyr Svavarsson" writerName="Gísli Freyr Svavarsson" writerID="0" template="1095" nodeTypeAlias="Subpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <customIconClass><![CDATA[earth]]></customIconClass>
      <menuImage>1150</menuImage>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </Subpage>
  </Home>
</root>